.section-title {
  color: #0077ff;
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}

.course-box {
  background: #f4f7ff;
  padding: 15px;
  border-left: 4px solid #0055aa;
  margin-bottom: 20px;
  border-radius: 6px;
}
